.booking-data-box {
    /* Box */
    background-color: var(--color-grey-0);
    border: 1px solid var(--color-grey-100);
    border-radius: var(--border-radius-md);
    overflow: hidden;
}

.booking-header {
    background-color: var(--color-brand-500);
    padding: 2rem 4rem;
    color: #e0e7ff;
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-header svg {
    height: 3.2rem;
    width: 3.2rem;
}

.booking-header-title {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.booking-header span {
    font-family: "Sono";
    font-size: 2rem;
    margin-left: 4px;
}

.booking-section {
    padding: 3.2rem 4rem 1.2rem;
}

.guest-info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.6rem;
    color: var(--color-grey-500);
}

.guest-info p:first-of-type {
    font-weight: 500;
    color: var(--color-grey-700);
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 3.2rem;
    border-radius: var(--border-radius-sm);
    margin-top: 2.4rem;
}

.price-container-paid {
    background-color: var(--color-green-100);
    color: var(--color-green-700);
}

.price-container-unpaid {
    background-color: var(--color-yellow-100);
    color: var(--color-yellow-700);
}

.price-container p:last-child {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

.price-container svg {
    height: 2.4rem;
    width: 2.4rem;
    color: currentColor !important;
}

.booking-footer {
    padding: 1.6rem 4rem;
    font-size: 1.2rem;
    color: var(--color-grey-500);
    text-align: right;
}