.button {
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.button--small {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.button--medium {
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  font-weight: 500;
}

.button--large {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  font-weight: 500;
}

.button--primary {
  color: var(--color-brand-50);
  background-color: var(--color-brand-600);
}

.button--primary:hover {
  background-color: var(--color-brand-700);
}

.button--secondary {
  color: var(--color-grey-600);
  background: var(--color-grey-0);
  border: 1px solid var(--color-grey-200);
}

&.button--secondary:hover {
  background-color: var(--color-grey-50);
}

.button--danger {
  color: var(--color-red-100);
  background-color: var(--color-red-700);
}

.button--danger:hover {
  background-color: var(--color-red-800);
}
