.form {
  overflow: hidden;
  font-size: 1.4rem;
}

.form-regular {
  padding: 2.4rem 4rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
}

.form-modal {
  width: 80rem;
}



