.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2.4rem;
  background-color: var(--color-grey-0);
  padding: 1.2rem 4.8rem;
  border-bottom: 1px solid var(--color-grey-100);

}
