.navList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.link:link,
.link:visited {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--color-grey-600);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.link:hover,
.link.active:link,
.link.active:visited {
  color: var(--color-grey-800);
  background-color: var(--color-grey-50);
  border-radius: var(--border-radius-sm);
}

.link svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}

.link:hover svg,
.link:active svg,
.link.active:link svg,
.link.active:visited svg {
  color: var(--color-brand-600);
}
