.tag {
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.4rem 1.2rem;
  border-radius: 100px;
}

.tag--blue {
  color: var(--color-blue-700);
  background-color: var(--color-blue-100);
}

.tag--green {
  color: var(--color-green-700);
  background-color: var(--color-green-100);
}

.tag--silver {
  color: var(--color-grey-600);
  background-color: var(--color-grey-100);
}



